sudo: required
language: python
python:
  - '3.6'

addons:
  chrome: stable

before_script:
  - pip install -r requirements.txt

install:
  - wget -N https://chromedriver.storage.googleapis.com/85.0.4183.87/chromedriver_linux64.zip -P ~/
  - unzip ~/chromedriver_linux64.zip -d ~/
  - rm ~/chromedriver_linux64.zip
  - sudo mv -f ~/chromedriver /usr/local/share/
  - sudo chmod +x /usr/local/share/chromedriver
  - sudo ln -s /usr/local/share/chromedriver /usr/local/bin/chromedriver

env: DJANGO_SETTINGS_MODULE=config.settings.travis

services:
  - postgresql

script:
  - python manage.py collectstatic 
  - python manage.py test --verbosity 2

branches:
only:
  - staging